:root{
    --dark-purple: #46344e;
    --lighter-purple: #7c6c83;
    --gray-white: rgb(175, 172, 172);
    --light-gray: rgb(216, 213, 213);
}


body{
    font-family: monospace;
    padding: 0;
    margin: 0;
    background-color: #5a5560;
}
header{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    font-size: large;
    top: 0;
    padding: 0;
    width: 100%;
    background-color: #46344e;
    color: white;
    margin: 0;
    z-index: 100;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46344e;
    }

nav li {
    float: left;
    }

nav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    .dropbtn-2, .dropbtn-3{
        display: block;
        color: black;
        text-align: left;
        padding: 14px 16px;
        font-size: medium;
    }

nav li a:hover, .dropbtn:hover, .dropbtn-2:hover, .dropbtn-3:hover {
    background-color: #93829b;
    color: aliceblue;
    }

    .drop-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        font-size: medium;
        min-width: 160px;
        height: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

    .drop-content-2{
        display: none;
        position: absolute;
        top: 0;
        left: 176px;
        background-color: #f9f9f9;
        font-size: medium;
        min-width: 160px;
        height: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .drop-content-3{
        display: none;
        position: absolute;
        top: 0;
        left: 162px;
        background-color: #f9f9f9;
        font-size: medium;
        min-width: 160px;
        height: 350px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
      .drop-content a, .drop-content-2 a, .drop-content-3 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

    .dropdown:hover .drop-content, .dropdown-2:hover .drop-content-2, .dropdown-3:hover .drop-content-3 {
        display: block;
    }

main{
    padding-top: 3vw;
}

#cover-banner{
    margin: auto;
    width: 90vw;
    height: 40.5vw;
}

#floating-box{
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 20%;
    left: 70%;
    text-align: center;
    background-color: rgba(88, 84, 84, 0.356);
    box-shadow: 2px 2px 5px black;
    z-index: inherit;
    padding: 10px;
}

.feature-btn{
    position: absolute;
    margin: auto;
    left: 10%;
    top: 60%;
    width: 80%;
    height: 20%;
    border: 2px solid black;
    border-radius: 50px;
}

div[class="feature-btn"] button{
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.feature-btn:hover, div[class="feature-btn"] button:hover{
    background-color: rgb(214, 200, 5);
    color: aliceblue;
}

#info-banner{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5vh 0;
    background-color: var(--gray-white);
}

#info-banner figure{
    display: flex;
    flex-direction: row;
    padding: 0 2.5vw;
}

#info-banner figure img{
    width: 3vw;    
}

#info-banner figure figcaption{
    margin: auto 2.5vw;
}





#courses{
    background-color: var(--gray-white);
    border: 2px solid black;
    width: 86vw;
    margin: 2.5vw auto;
    padding: 2vw;

}

#topicslist{
    display: flex; 
    flex-direction: row; 
    list-style-type: none;
    padding-inline-start: 0;
}

#topicslist li a{
    font-weight: 1000;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
}

#topicslist li a:hover{
    cursor: pointer;
    background-color: var(--light-gray);
}

#course-cards{
    display: flex;
    flex-direction: row;
    margin-inline-start: 0;
}

#courses .card figure{
    margin: 2vw;
    padding: 1vw;
    border: 2px solid rgb(43, 42, 42);
}

.card-float-info{
    border: 2px solid black; 
    background-color: gray; 
    padding: 5px;
    color: white;
}

#courses .card figure:hover{
    box-shadow: 2px 2px 5px 5px var(--dark-purple);
}

#courses .card a{
    text-decoration: none;
    color: black;
}

#courses .card img{
    width: 23vw;
    
}

#courses .card-title{
    font-size: larger;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

#courses .card-author{
    font-size: large;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

#courses .rating{
    font-size: larger;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    color: rgb(255, 30, 0);
}

#courses .users-count{
    font-size: medium;
    color: rgb(77, 76, 76);
}

#courses .price{
    font-size: x-large;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}




#video-block{
    width: 100%;
    background-color: var(--gray-white);
}

#video-block section{
    width: 90vw;
    margin: auto;
    padding: 2vw;
}

#video-block section div{
    background-color: var(--light-gray);
}

#video-block section div article{
    padding: 2.5vw;
    margin-top: 3.5vw;
    font-size: x-large;
    font-style: italic;
    
}







footer{
    background-color: var(--dark-purple);
    position: sticky;
}

footer section{
    display: flex;
    flex-direction: row;
}

footer #links1, #links2, #links3, #links4{
    display: inline;
}
footer ul{
    list-style-type: none;
    color: aliceblue;
    text-decoration: none;
}

footer li{
    padding: 5px 0;
}

footer li a{
    text-decoration: none;
    color: aliceblue;
}

footer li a:hover{
    color: rgb(231, 231, 21);
}

#links4 a:hover{
    color: white;
}







#founders{
    width: 90vw;
    background-color: var(--gray-white);
    border: 2px solid black;
    margin: auto;
    margin-bottom: 2vw;
}

#founders section article{
    margin-bottom: 20px;
}

#founders section article img{
    width: 20%;
    padding: 10px;
    border-radius: 50px;
}

#founders section article div{
    width: 50%;
    background-color: var(--light-gray);
    border-left: 5px solid rgb(122, 4, 122);
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 0;
    padding-bottom: 0;
    margin: 0 2px;
}

#founders section article div p{
    margin-top: 20px;
    padding: 0;
}

#founders section article aside{
    width: 40%;
    text-align: center;
    
    margin: auto 10px;

}

#founders section article aside q{
    font-style: italic;
    font-size: large;
    color: black;
    font-weight: 900;
}

#founders section article aside p{
    font-size: x-large;
}




#contacts{
    width: 90vw;
    background-color: var(--gray-white);
    border: 2px solid black;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#contacts .row{
    display: flex;
    flex-direction: row;
}

#contacts .item a{
    text-decoration: none;

}

#contacts .item figure{
    width: 35vw;
    padding: 10px;
    background-color: #5a5560;
    display: flex;
    flex-direction: row;
}

#contacts .item figure:hover{
    box-shadow: 2px 2px 5px 5px var(--dark-purple);
}

#contacts .item figure img{
    width: 4vw;
}

#contacts .item figure figcaption{
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: xx-large;
    color: white;
}






.course-block{
    border: 2px solid black;
    margin: 3vw;
    background-color: var(--gray-white);
}

.course-block figure img{
    border: 2px solid black;
    margin-right: 3vw;
    width: 80vw;
}

.course-block hr{
    height: 2px;
}

.course-dets{
    margin: 3vw;
}

.course-dets .author, .rating, .price{
    font-size: large;
    font-weight: 1000;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.course-dets .rating{
    color: orangered;
}
.course-dets .price{
    color: rgb(29, 28, 28);   
}

.course-dets .desc{
    padding: 10px;
    box-shadow: 0 0 10px rgb(48, 47, 47);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-gray);
    font-weight: 500;
    font-size: 1vw;
}

.course-block .cStartBtn{
    background-color: var(--dark-purple);
    font-size: 1vw;
    color: white;
    font-weight: 700;
    padding: 1vw;
    border: none;
}

/* .course-block .cStartBtn:hover{
    background-color: rgb(238, 238, 4);
    color: rgb(255, 255, 255);
    cursor: pointer;
} */